{% extends 'base.html.twig' %}

{% block title %}Auctions!{% endblock %}

{% block body %}
<header id="header-main">
    <h1>Auction Simulator</h1>
    <h2>Really cool auctions!</h2>
</header>
<main>

</main>
{% endblock %}
