{% extends 'base.html.twig' %}

{% block title %}Auctions!{% endblock %}

{% block body %}
<ul class="auction-container">
    {% for auction in auctions %}
        <li class="auction">
            <div class="auction-img">
                <img
                    src="{{ auction.picture }}"
                    alt="{{ auction.name }}"
                />
            </div>
            <div class="auction-details">
                <p class="auction-name">
                    <strong>{{ auction.name }}</strong>
                </p>
                <p class="auction-bid">
                    {{ auction.highestBid }}
                </p>
            </div>
        </li>
    {% endfor %}
</ul>
{% endblock %}
