$headerMargin: 0.25rem 0;

#header-main {
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;

  margin-top: 20px;

  h1 {
    font-size: 5rem;
    margin: $headerMargin;
  }

  h2 {
    font-size: 2rem;
    font-weight: normal;
    margin: $headerMargin;
  }
}